accelerate
aiohttp
aiosignal
async-timeout
attrs
certifi
charset-normalizer
cmake
datasets
dill
evaluate
filelock
frozenlist
fsspec
huggingface-hub
idna
Jinja2
lit
MarkupSafe
mpmath
multidict
multiprocess
networkx
numpy
nvidia-cublas-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-nccl-cu11
nvidia-nvtx-cu11
packaging
pandas
peft
Pillow
protobuf
psutil
pyarrow
python-dateutil
python-dotenv
pytz
PyYAML
regex
requests
responses
rouge
safetensors
sentencepiece
six
sympy
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
triton
typing_extensions
tzdata
urllib3
xxhash
yarl
wandb
ipdb
bitsandbytes
